<div class="main_left_show">
	<dl class="dls">
		<a href="{:url('admin/qlx/index')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon7.png"></dt>
			<dd>台房开台</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/index?ss=clear')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon8.png"></dt>
			<dd>台房结算</dd>
		</a>

	</dl>
	<!-- <dl class="dls">
		<a href="{:url('admin/qlx/inventory')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon13.png"></dt>
			<dd>入库管理</dd>
		</a>
	
	</dl> -->
	<dl class="dls">
		<a href="{:url('admin/qlx/sure_in')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon14.png"></dt>
			<dd>确认入库</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/threshold')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon14.png"></dt>
			<dd>阈值管理</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/storage')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon14.png"></dt>
			<dd>入库产品</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/classify')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon14.png"></dt>
			<dd>分类管理</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/management')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon10.png"></dt>
			<dd>台房管理</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/purchase')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon10.png"></dt>
			<dd>采购计划</dd>
		</a>

	</dl>
	<dl class="dls">
		<a href="{:url('admin/qlx/shop')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon11.png"></dt>
			<dd>商品销售</dd>
		</a>
	</dl>

	<dl class="dls">
		<a href="{:url('admin/qlx/cart')}">
			<dt><img src="__PUBLIC__/images/yj/left_icon12.png"></dt>
			<dd>购物车管理</dd>
		</a>
	</dl>
</div>