{extend name="public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
			<a href="{:url('Group/index')}" class="btn btn-danger">
				<i class="glyphicon glyphicon-menu-left"></i> 
				返回
			</a>
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="table-responsive clearfix">
			<form action="" class="form" method="post">
				<table class="table table-striped">
					<!-- <thead>
						<tr>
							<th class="col-lg-2 text-right">一级分类</th>
							<th>分类名称</th>
						</tr>
					</thead> -->
					<tbody>
						
						<tr>
							<td class="info col-lg-2 text-right">选择一级分类</td>
							<td class="col-lg-10 text-left">
								{volist name="list" id="item"}
								
								<input type="checkbox" name="id[]" value="{$item['id']}" id="{$item['title']}" 
								<label for="{$item['title']}">{$item['title']}</label>
								
								{/volist}
							</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						
						<!--btn btn-success submit-btn ajax-post-->
						<button type="submit" class="" target-form="form">确认提交</button>
						<button class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{/block}