{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}(共有订单{$count}笔)</h2>
		</div>
	</header>
	<h4 style="margin-left:20px;">开始时间：<font style="color:#f60;">{$starttime|date='Y年m月d日 H:i:s',###}</font> 结束时间：<font style="color:#f60;">{$endtime|date='Y年m月d日 H:i:s',###}</font></h4>
	<div class="main-box-body clearfix">
		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="60">ID</th>
						<th>部门</th>
						<th>消费类型</th>
						<th>订单号</th>
						<th>价格</th>
						<th>操作人</th>
						<th>结算卡号</th>
						<th>创建时间</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="item"}
					<tr>
						<td>{$item['id']}</td>
						<td>
							{if $item['departmentId'] eq 1}
							棋乐轩
							{elseif $item['departmentId'] eq 2}
							餐厅
							{elseif $item['departmentId'] eq 3}
							体育馆
							{else /}
							其他
							{/if}
						</td>
						<td>
							{if $item['type'] eq 1}
							学员卡
							{elseif $item['type'] eq 2}
							员工卡
							{elseif $item['type'] eq 3}
							访客
							{else /}
							其他
							{/if}
						</td>
						<td>{$item['order_id']}</td>
						<td>{$item['price']}</td>
						<td>{$item['username']}</td>
						<td><a href="{:url('cardorders?cardNo='.$item['clear_card_id'])}" style="color:#f60;">{$item['clear_card_id']}</a></td>
						<td>{$item['create_time']|date='Y-m-d H:i:s',###}</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</div>
	</div>
</div>
{/block}