{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
<!-- datepicker statr -->
<link href="__PUBLIC__/plugs/datepicker/css/foundation-datepicker.min.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.js"></script>
<script src="__PUBLIC__/plugs/datepicker/js/foundation-datepicker.zh-CN.js"></script>
{/block}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title} (学号：{$students.stuNo} 姓名：{$students.stuName})</h2>
		</div>
		<div class="pull-right">
		</div>
	</header>
	<div class="main-box-body clearfix">
		<form method="post" name="form1" class="form form-horizontal">
			<div class="form-group">
				<label class="col-lg-2 control-label">缴费金额</label>
				<div class="col-lg-8 col-sm-10">
					<input type="text" class="form-control " name="amount" value="{$info.amount}">
					<div class="help-block">请输入缴费金额</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label">缴费原因</label>
				<div class="col-lg-8 col-sm-10">
					<input type="text" class="form-control " name="reason" value="{$info.reason}">
					<div class="help-block">请输入缴费原因</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<input type="hidden" name="personId" value="{$students.id|default=''}">
					<button class="btn btn-success submit-btn ajax-post" target-form="form-horizontal">确 定</button>        
					<div class="btn btn-danger btn-return" onclick="javascript:history.back(-1);return false;">返 回</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
$(".submit-btn").click(function(){

    for(var i=0;i<document.form1.elements.length-1;i++){
         if(document.form1.elements[i].value=="")
         {
           alert("当前表单不能有空项");
           document.form1.elements[i].focus();
           return false;
         }
    }
    document.form1.submit();
});

</script>
{/block}
{block name="script"}
{/block}